{% extends 'home/base.html' %}
{% block content %}
 <h1><u>Groups</u></h1>
 <div class="container">
  <div class="row">
   <div class="col-sm">
    {% for group in groupList %}
     <div class="row">
      <h5>
       <a href="/groups/o/{{ group.name }}">{{group.name}}</a>
      </h5>
     </div>
  {% endfor %}
   </div>
   <div class="col-sm">
   <b><u>Add Group:</u></b>
    <form action="{{ request.path }}" method="post">
     {% csrf_token %}
     <input id="group_name" name="group_name" type="text" placeholder="Group Name">
     <span id="errorname">{{ error }}</span>
     <input type="submit" value="CREATE">
    </form>
   </div>
  </div>
 </div>
 {% for group in sharedList %}
 <h1><u>{{ group.belongs.owner }}'s Groups</u></h1>
 <div class="container">
  <div class="row">
   <div class="col-sm">
    <h5>
     <a href="/groups/m/{{ group.belongs.owner }}/{{ group.belongs.name }}">{{group.belongs.name}}</a>
    </h5>
   </div>
   <div class="col-sm">
    <h5>
     <span>{{ group.permission }}</span>
    </h5>
   </div>
  </div>
 </div>
 {% endfor %}
{% endblock %}