{% extends 'home/base.html' %}
{% block content %}
 <div>
  <h1><u>{{ group.name }}</u></h1>
  {% if generateButton %}
   <form action="{{ request.path }}/t/generate" method="post">
    {% csrf_token %}
    <button type="submit">Generate Token</button>
   </form>
  {% endif %}
  {% if token %}
   <div>
    <span>API key for this group is: {{ token.api_key }}</span>
   </div>
   <div>
    <span>Webhook url: {{ request.scheme }}:{{ request.get_host }}/api/webhook/</span>
   </div>
   <div>
    <span>Json payload format for CivRelay {"snitch_name":"<snitch>", "x":<x>, "y":<y>, "z":<z>, "world":"<world>", "server":"mc.civclassic.com", "type":"<action>", "user":"<player>", "timestamp":<timeUnix> }</span>
   </div>
  {% endif %}
  <div>
   {% if addMemberForm %}
     <form method="post">
      {% csrf_token %}
      {{ addMemberForm }}
      <button type="submit">Add User</button>
     </form>
    {% endif %}
   </div>
  <div class="container">
   <div class="row">
    <div class="col-sm">
     <u>Member</u>
    </div>
    <div class="col-sm">
     <u>Permission</u>
    </div>
    {% if addMemberForm %}
     <div class="col-sm">
      <u>Remove</u>
     </div>
    {% endif %}
    </div>
   {% for user in userList %}
    <div class="row">
     <div class="col-sm">
      {{ user.username }}
     </div>
     <div class="col-sm">
      {{ user.perm }}
     </div>
     {% if addMemberForm %}
      <div class="col-sm">
       <form action="{{ request.path }}/r/{{user.username}}" method="post">
        {% csrf_token %}
        <button type="submit">Remove</button>
       </form>
      </div>
     {% endif %}
    </div>
   {% endfor %}
  </div>
 </div>
{% endblock %}