{% extends 'home/base.html' %}
{% block content %}
<div class="container">
 {% if user.is_authenticated %}
   <div id="app-root">Loading...</div>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="https://civclassics.firebaseapp.com/style.css" />
    <script src="https://civclassics.firebaseapp.com/js/bundle.js">
    </script>
    <script>
     document.getElementById("app-root").children[0].children[0].classList.remove('appbar');
     setTimeout("location.reload(true);", 10000);
    </script>
    <script>
        var features = CivMap.api.getState().features.featuresUser
        for (var key in features) {
         CivMap.api.dispatch({ type: 'REMOVE_FEATURE', feature: features[key] })
        }
    </script>
    {% for record in list %}
    <script>
        var f = {
            "x": {{record.snitch.x_pos}}, "z": {{record.snitch.z_pos}}, "id": "{{record.user}}", "name": "{{record.user}}",
            icon: 'https://minotar.net/avatar/{{record.user}}/32.png', icon_size: 32,
            last_seen: '{{record.pub_date}}', snitch_triggered: '{{record.snitch.name}}'
        }
        CivMap.api.dispatch({ type: 'UPDATE_FEATURE', feature: f })
        
    </script>
    {% endfor %}
  </div>
 {% endif %}
 {% if not user.is_authenticated %}
  <div class="d-flex justify-content-center">
  <a class="text-center" href='/account/login/'>Welcome, click here to log in</a>
  </div>
 {% endif %}
{% endblock %}